# PlatformIO
.pio
.pioenvs
.piolibdeps

# Editor / IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Local secrets
*secrets.h
src/secrets.h

# Python
__pycache__/
*.py[cod]

